.box{
    width: 100px;height: 100px;
    background-color: red;
}
.button{background-color: rgba(0,0,0,.5);padding: 10px 15px;cursor: pointer;}
#checkbox{
    &:checked{
        ~#box{background-color: yellow;}
    }
}



    
    


.counter{
    margin: 20px;
    .count{
        width: 200px;
        padding: 20px;
        font-size: 2rem;font-weight: 600;
        color: yellow;background-color: grey;
    
        &::before{
            content:'';
            animation: countdown 100s step-end 1 forwards;
        }
        &::after{
            content:'';
            animation: countdown 10s step-end 10 forwards;
        }
    }
}
@keyframes countdown {
    0%{content: "9";}
    10%{content: "8";}
    20%{content: "7";}
    30%{content: "6";}
    40%{content: "5";}
    50%{content: "4";}
    60%{content: "3";}
    70%{content: "2";}
    80%{content: "1";}
    90%, 100%{content: "0";}
}


.random{
    .list{
        display: flex; gap: 20px;
        li{
            width: 100px;
            height: 100px;background-color: #000;
            display: flex;justify-content: center; align-items: center;
            font-size: 1.5rem;
            color: #fff; border-radius: 50%;
        }

        $amount : 7;
        @for $i from 1 to $amount {
            .list-#{$i}{
                &::before{
                    content:"#{random(100) * 1}";
                }
            }
        }
    }
}




.container{
    width: 400px;
    height: 400px;
    border: 1px solid #000;
    margin: auto;
    display: flex;justify-content: space-between;
    align-items: center;flex-wrap: wrap;
    .block{
        width: 32%;height: 32%;
        display: flex;justify-content: center;align-items: center;
        background-color: rgba(#000, .5);
        position: relative;

        .index{
            padding: 50px 60px;cursor: pointer;
        }
    }
}



#checkbox-1{
    &:checked{
        ~#block-1{
            display: flex;
            transform: translate(135px);
            transition: .5s;
            &::before{
                content: "2";width: 100%;height: 100%;position: absolute;
                top: 0;left: 0;cursor: pointer;
                display: flex;justify-content: center;align-items: center;
            }
            .index{visibility: hidden;}
        }
        ~#block-2{
            display: flex;
            transform: translate(-135px);
            transition: .5s;
            &::before{
                content: "1";width: 100%;height: 100%;position: absolute;
                top: 0;left: 0;cursor: pointer;
                display: flex;justify-content: center;align-items: center;
            }
            .index{visibility: hidden;cursor: pointer;}
        }
        
    }
}

#checkbox-2{
    &:checked{
        ~#block-2{
            display: flex;
            transform: translate(0 , 135px);
            transition: .5s;
            &::before{
                content: "2";width: 100%;height: 100%;position: absolute;
                top: 0;left: 0;
                display: flex;justify-content: center;align-items: center;
                cursor: pointer;
            }
            .index{visibility: hidden;}
        }
        ~#block-5{
            display: flex;
            transform: translate(0, -135px);
            transition: .5s;
            &::before{
                content: "5";width: 100%;height: 100%;position: absolute;
                top: 0;left: 0;cursor: pointer;
                display: flex;justify-content: center;align-items: center;
            }
            .index{visibility: hidden;}
        }
    }
}

// #block-9{visibility:hidden ;}



.main{
    width: 200px;height: 200px;background-color: #0c0c0c;
    display: flex;justify-content: center;
    align-items: center;
    margin: 50px auto;
    .label{
        position: relative;
        width: 80px;height: 80px;
        border-radius: 50%;cursor: pointer;
        .btn{
            position: absolute;top: 0;left: 0;
            width: 100%;display: block;
            height: 100%;
            background-color: #1b1b1b;
            border-radius: 50%;
            box-shadow: 0 3px 4px rgba(0,0,0,1),
                        inset 0 -2px 5px rgba(0,0,0,1),
                        inset 0 2px 5px rgba(255,255,255,.5),
                        0 0 0 2px #000,
                        0 0 0 5px #0c0c0c,
                        0 0 0 5.5px #080808;
                        
        }
        .fa-solid{
            position: absolute;top: 50%;left: 50%;
            transform: translate(-50%, -50%);
            font-size: 2.5rem;
            color: #0c0c0c;
        }
        input[type="checkbox"]{
            appearance: none;

            &:checked{
                ~.fa-solid{
                    color: #00ffe7;
                    text-shadow: 0 0 15px #00a1ff,
                                 0 0 30px #00a1ff,
                }

                ~.btn{
                    box-shadow: 0 0 0 rgba(0,0,0,1),
                        inset 0 -2px 5px rgba(0,0,0,1),
                        inset 0 1px 1px rgba(255,255,255,.1),
                        0 0 0 2px #000,
                        0 0 0 5px #0c0c0c,
                        0 0 0 5.5px #00a1ff
                }
            }
        }
        
    }
}



section{
    width: 400px;height: 400px;
    display: flex;justify-content: center;align-items: center;background: #042104;
    animation: anim 10s linear infinite;
}
@keyframes anim{
    0%{filter: hue-rotate(0deg);}
    100%{filter: hue-rotate(360deg);}
}
section .loader{
    position: relative;
    
}
section .loader span{
    
    position: absolute;top: 0;left: 0;transform: rotate(calc(18deg * var(--i)));transform-origin: center;
}
section .loader span::before{
    content: '';
    position: absolute;
    top: 0;left: 0;
    width: 100px;height: 100px;border-radius: 50%;
    // background-color: #00ff0a;
    box-shadow: 0 0 1px #00ff0a,
                0 0 2px #00ff0a,
                0 0 0px #00ff0a,
                0 0 1px #00ff0a,
                0 0 1px #00ff0a,
                0 0 10px #00ff0a;

    animation: animate 2s linear infinite;
    animation-delay: calc(0.1s * var(--i))
}
// @keyframes animate{
//     0%{
//         transform: scale(1);
//     }
//      100%{
//         transform: scale(2);
//     }
// }






